

<div class="modal" id="myModal">
	<div class="modal-dialog">
      <div class="modal-content">

<div class="modal-header">
            <h5>Direction</h5>
        </div>
        <div class="modal-body">
         
         
         <div id="directionPanel"></div>

        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Close</button>
        </div>
        
         </div>
    </div>
</div>
        
        			


        